body {
    font-family: $font-secondary;
    width: 100%;
    max-width: $width;
    margin: 0 auto;
    color: $primary;
    // overflow: hidden;
    height: 200vh;
}

html {
    font-size: $font-size-default;

}

.container {
    max-width: $content-wigth;
    margin: 0 auto;
    right: 80px;
}

.flex {
    display: flex;
}