main {
    width: 100%;
    max-width: $width;
    margin: 0 auto;
}

.description-p {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-family: $font-secondary;
    font-size: 22px;
    font-weight: 500;
    line-height: 166%;
}