.nav {
    &__list {
        list-style: none;
        display: none;


        .nav__list--open & {
            @include media ($sm) {
                display: block;
                font-size: xx-small;
                text-align: center;
                width: 70px;
                position: fixed;
                padding-top: 25px;
                line-height: 3;
                text-align: end;
                right: 1px;
            }

            @include media ($md) {
                display: block;
                font-size: xx-small;
                text-align: center;
                width: 70px;
                position: fixed;
                padding-top: 25px;
                line-height: 3;
                right: 16px;
            }

            @include media ($lg) {
                display: block;
            }

            .nav__item {
                // background-color: rgb(150, 150, 150);
            }
        }
        

        @include media($lg) {
            display: block;
            display: flex;
            color: $black-default;
            gap: 40px;
            font-size: 14px;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: $black-default;
        font-family: $font-primary;
        letter-spacing: 3px;
        font-weight: 600;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 80%;
            height: 2px;
            background-color: transparent;
            left: 8%;
            bottom: -5px;
        }

        &:hover {
            &::after {
                background-color: $black-default;
                transition: all 0.5s ease-in-out;
            }
        }
    }

    &__btn {
        cursor: pointer;
        @include media($lg) {
            display: none;
        }
    }
}